# # # # # # # #
#   K i k o   #
# # # # # # # #

# Basic
name:               liucheblog
email:              liuche@mozilla.com
github_username:    liuche
facebook_username:  cxliu
twitter_username:   fliume

# URL
baseurl:            "" #For Root Domain
permalink:          /:year/:month/:day/:title.html

# Markdown
markdown:           kramdown

# Navigation
nav:
  - name:           "About"
    href:           "/about"

# Sass
sass:
  style:            :compressed

# Scopes
defaults:
  -
    scope:
      path:         ""
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      path:         ""
      type:         "posts"
    values:
      layout:       "post"
